@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;

}
*{
  margin: 0;
}
/* shared style */
.flex{
  display: flex;
}
.dark02{
  color: #424242;
}
/* others */
header{
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
  justify-content: space-between;
  padding: 20px;
  

}
.navbar li{
  list-style: none;
  margin-right: 30px;
}
.navbar a{
  text-decoration: none;
}
 

.navbar,.banner{
  max-width: 1200px;
  margin: 0 auto;
}