@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;

}

*{
  margin: 0;
  cursor: context-menu;

}


/* shared style */
.flex,.banner-content{
  display: flex;
}
.dark02{
  color: #424242;
}
.dark01{
  color: #131313;
}


.p-btn{ 
                /*basic design for all buttons*/
  background-color: #FF900E;
  color: #FFFFFF;
  padding: 20px 25px;
  border: 0;
  border-radius: 8px;
  cursor: pointer; !important

}
/* others */
header{
  background-color: rgba(255, 144, 14, 0.1);

}
.navbar{
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  

}
.navbar li{
  list-style: none;
  margin-right: 30px;
}
.navbar a{
  text-decoration: none;
  padding: 10px;
}
 .navbar h3{
  font-weight: 700;
  font-size: 2.5rem;
 }
 /* banner section */
 /* share width */

.navbar,.banner,.facts-container,.footer,#features,#sponser{
  max-width: 1200px;
  margin: 0 auto;
  
}
.banner-img{

}
.banner-content{
  margin-bottom: 40px;
  text-align: center;
  line-height: 26px;
  flex-direction: column;
  gap: 32px;
 
  
}
.banner-img img{
  width: 100%;
  vertical-align: middle;
}
.banner-content p{
  max-width: 868px;
  margin: 0 auto;

}
.p-btn{
  max-width: max-content;
  margin: 0 auto;
  font-size: 1.1rem;
}
.nav-contents a:hover{
  background-color: rgb(192, 197, 197);
  border-radius: 10px;
  cursor: pointer;
  
}
/* grid-section */
.grid-container{
  /* border: 1px solid black; */
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  margin-top: 100px;
  align-items: center;
}
.grid-container .img-grid{
  

}
.text-container{
 max-width: 500px;



  
}
.text-container .p-btn{

 margin-top: 30px;


}


.text-container h2{

  /* border: 1px solid rgb(214, 44, 44); */
  color: #131313;
  font-size: 2.80rem;
}
.text-container p{
  line-height: 26px;
  font-size: 0.9rem;
  /* max-height: 78px; */
  /* border: 1px solid black; */

}
.img-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
  /* border: 1px solid black; */

 
}
.img-grid img{
 /* border: 1px solid black ; */
 width: 100%;  
 
}
#dark03{
  color: #727272;
  font-weight: 500;
}
#orange{
  color: #FF900E;
  font-weight: 700;
}
/* facts design */
.facts-container{
  margin-top: 100px;
}
.facts-container p{
  font-size: 1em;
  line-height: 26px;
  margin-top: 24px;
  max-width: 540px;
}
.facts-container h2{
  font-weight: 700;
  font-size: 2.5em;


}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-top: 40px;
 

}

.cards{
  border: 1px solid #FF900E;
  width: 240px;
  height: 230px;
  border-radius:8px ;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 144, 14, 0.04);
 
 
}
.cards .number{
  margin-top: 10px;
  font-weight: 600;
  font-size: 2.5rem;
}
.cards .text{
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: 600;

}
.footer{
  height: 5vh;
}

/* features section */

#features{
  margin-top: 130px;
  gap: 100px;

 
}
.features-text-container{

}
.features-image img{
  width: 100%;
  
}
.features-heading{
  font-weight: 700;
  font-size: 2.9rem;
  max-width: 586px;
  border-left:5px solid #FF900E ;
  padding-left: 10px;
}
.features-text{
  line-height: 26px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 586px;
}
.feature-card{
  max-width: 586px;
  padding: 20px 42px 20px 30px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 15px;
  box-shadow: 0px 4px 4px 0 hsl(0, 4%, 90%);

}
.feature-card h4{
  font-weight: 600;
  font-size: 1.10rem;
}
.feature-card p{
  line-height: 26px;
  font-size: 0.9rem;
   color: #727272;
  font-weight: 500;
  margin-top: 10px;

}
#head{
  line-height: 60px;
  font-size: 4rem;
  font-weight: 700;
}
.features-image .p-btn{
   padding: 46px;
   margin-left: -60px;
   margin-top: -160px;
    transform: translate(0,-12px);
}
.p-btn span{
    line-height: 25px;
  font-size: 1.25rem;
  font-weight: 600;
 
 
}
/* sponser section */
#sponser{
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;

}
.sponser-container{
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sponser-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-top: 50px;
}
.sponser-grid img{
  filter: grayscale(100%);
  max-width: 130px;
 
}
/* footer */
.footer{

  height: 28vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer div{
  display: flex;
  align-items: center;
  justify-content: center;;
  width: 1200px;
  background-color: #FFF4E7;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.20rem;
  color: #424242;
  max-width: 100%;

}


@media screen and (max-width:576px) {
 .navbar,.banner-content,.grid-container,#features{
  flex-direction: column;
  gap: 20px;
 }
 .footer{
  max-width: 100%;
  
 }
 .footer div{
 padding: 10px;
  font-size: 0.5rem;
  max-width: 90%;
  margin: 0 auto;
 

  
 }
 /* features */
 #features{
  margin-left: 8px;
 }
 #features .p-btn{
  margin: 10px;
  padding: 25px;

 }
 /* sponser */
 .sponser-grid{
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
 }
 .sponser-grid img{
  max-width: 100px;
 }
 .navbar li{
  margin-right: 0;
 }
 .nav-contents{
  font-size: 1.2rem;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
  
 }
 .nav-contents a:hover{


 }

 .img-grid{
  grid-template-columns: repeat(1,1fr);
 }
 .text-container{
  padding: 20px;
 }
 
 .navbar a {
  padding: 0px;
  margin-left: 8px;


 }
 /* facts */
 .facts-container{
  margin: 0 auto;
  padding: 20px;
 
 }
 .card-container{
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  
  
 }
 .cards{
  margin-top: 20px;
 }

}
@media screen and (min-width:576px) and (max-width:992px){
  .grid-container,#features{
    flex-direction: column;
  }
  
  .navbar{
    flex-direction: column;
  }
  .nav-contents{
    flex-direction: column;
  }
  #features{
    margin-left: 10px;
  }
  #features .p-btn{
  margin: 10px;
  padding: 25px;

 }

  .text-container,#features,.text,.facts-container,.sponser-grid{
    margin: 28px auto;
    max-width: 600px;
    
    
  }
  .facts-container{
 
    place-items: center;

  }
  .facts-container .text{
  

  }
 
 .card-container{
  grid-template-columns: repeat(2,1fr);
  
 }
 .cards{
  margin: 5px;
  
 }
 .sponser-grid{
  grid-template-columns: repeat(5,20%);
  

 }
 .sponser-grid img{
  max-width: 90px;
 }
 .footer{
    max-width: 100%;
  }
 .footer div{
  max-width: 90%;
  margin: 0 auto;
  font-size: 0.8rem;
  margin-bottom: 10px;
 }

}